In [2]:
import numpy as np
import pandas as pd

In [13]:
labels = ['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [18]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [21]:
pd.Series(data = [sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [22]:
#series of pandas work like a dctionari where a value of a key can be repeated

In [23]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [24]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [25]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [27]:
ser2['USA']

1

In [28]:
ser3 = pd.Series(labels)

In [30]:
ser3[1]

'b'

In [31]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64