In [2]:
d = {'key1':"value",'key2':123}

In [3]:
d['key2']

123

In [5]:
d = {'k1':[1,2,3]}

In [8]:
d['k1'][0]

1

In [12]:
d = {'k1':{'innerkey':[1,2,3]}}

In [16]:
d['k1']['innerkey'][0]

1

In [19]:
True

True

In [21]:
t = (1,2,3)

In [23]:
t[0]

1

In [26]:
my_list=[1,2,3]

In [27]:
my_list[0] = 'NEW'

In [29]:
my_list

['NEW', 2, 3]

In [30]:
t

(1, 2, 3)

In [31]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

In [32]:
#you want to use a tuple when a user can't change items in a list. Tuple are mutable, and tuples immutable

In [33]:
{1,2,3,4}

{1, 2, 3, 4}

In [34]:
{1,1,1,1,1,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [35]:
set([1,1,1,1,1,1,2,2,2,2,2])

{1, 2}

In [36]:
s = {1,2,3}

In [37]:
s.add(5)

In [38]:
s

{1, 2, 3, 5}

In [39]:
my_list.add(3)

AttributeError: 'list' object has no attribute 'add'

In [40]:
my_list.append(3)

In [42]:
my_list

['NEW', 2, 3, 3]

In [43]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
t.add(4)

AttributeError: 'tuple' object has no attribute 'add'

In [45]:
# in lists you can use the method append, while in sets you use method add. While Tuples are immutabe, so you can't add values

In [47]:
#comparision operators

In [48]:
1 > 2

False

In [49]:
2 > 1

True

In [50]:
1 >= 1

True

In [51]:
1 == 1

True

In [52]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-52-4c0a01f26144>, line 1)

In [53]:
1 == 2

False

In [55]:
# comparision equal signs need to be 2 in a row, if you only use one equal sign, python will thnk you are doing a variable attribution

In [56]:
1 != 3

True

In [57]:
1 < 2 and 2 < 3

True

In [58]:
1 < 2 or 2 > 3

True

In [59]:
if 1<2:
    print ('yep')

yep

In [61]:
if True:
    x = 2+2

In [62]:
x

4

In [67]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('last')

second

In [2]:
seq = [1,2,3,4,5]

In [8]:
for n in seq:
    print(n-2)

-1
0
1
2
3

In [10]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [12]:
for x in seq:
    print(x)

1
2
3
4
5

In [14]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [17]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
x = [1,2,3,4]

In [19]:
out = []

In [20]:
for num in x:
    out.append(num**2)

In [21]:
print(out)

[1, 4, 9, 16]

In [22]:
[num**2 for num in x]

[1, 4, 9, 16]

In [23]:
out = [num**2 for num in x]

In [24]:
print(out)

[1, 4, 9, 16]

In [25]:
def my_funct(par_1):
    print(par_1)

In [26]:
my_funct(1)

1

In [27]:
my_funct('hello')

hello

In [32]:
def my_func(name='default_name'):
    print('hello '+name)

In [33]:
my_func()

hello default_name

In [34]:
my_func('jaume')

hello jaume

In [35]:
my_func

In [36]:
x

[1, 2, 3, 4]

In [37]:
type(x)

list

In [43]:
def square(num):
    """
    this returns the square of a number
    """
    return num**2

In [39]:
output = square(2)

In [40]:
output

4

In [41]:
#when you return you want to set the "return" equal to another variable, while when you print you just run the function

In [44]:
output2 = square(3)

In [46]:
output

4