In [1]:
import numpy as np
import pandas as pd

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1 -0.685256  0.977392
   2  2.088870  1.289103
   3  0.403605 -1.092232
G2 1  1.280488  0.611294
   2  0.452239 -0.734527
   3 -0.124713 -0.269960

In [13]:
# this is what data looks like in a multi level hierarchy data

In [19]:
df.loc['G1'].loc[1]

A   -0.685256
B    0.977392
Name: 1, dtype: float64

In [23]:
df.index.names = ['groups','num']

In [24]:
# this method allows us to give name to the different groups of indexes

In [22]:
df

                   A         B
groups num
G1     1   -0.685256  0.977392
       2    2.088870  1.289103
       3    0.403605 -1.092232
G2     1    1.280488  0.611294
       2    0.452239 -0.734527
       3   -0.124713 -0.269960

In [29]:
df.loc['G2'].loc[2]['B']

-0.73452722882647803

In [31]:
df.loc['G1'].loc[3,'A']

0.40360525072819925

In [39]:
df.xs(1,level='num')

               A         B
groups
G1     -0.685256  0.977392
G2      1.280488  0.611294

In [2]:
#xs is cross sections, and this allows us to select a specific index from a sub index

In [3]:
#aaaaa