In [1]:
1

1

In [2]:
1.0

1.0

In [4]:
type(1.0)

float

In [5]:
1+1

2

In [6]:
1*1

1

In [7]:
1/2

0.5

In [8]:
2**4

16

In [9]:
2^4

6

In [10]:
4^2

6

In [12]:
(2+3)*(5+2)

35

In [14]:
4%2

0

In [15]:
5%2

1

In [17]:
x = 2

In [18]:
print(x)

2

In [19]:
x

2

In [20]:
y = 3

In [21]:
x+y

5

In [22]:
x = x+x

In [23]:
x

4

In [24]:
4!

SyntaxError: invalid syntax (<ipython-input-24-c159a87ed8bd>, line 1)

In [25]:
# Strings

In [26]:
'String'

'String'

In [27]:
"string"

'string'

In [28]:
"I can't go"

"I can't go"

In [29]:
x = 'hello'

In [30]:
x

'hello'

In [32]:
print(x)

hello

In [38]:
num=12
name='Sam'

In [39]:
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [42]:
print('My {one} and {two}, more {one}'.format(one=num,two=name))

My 12 and Sam, more 12

In [47]:
s = 'abcdefghijk'

In [50]:
s[0:]

'abcdefghijk'

In [52]:
s[:3]

'abc'

In [54]:
s[3:6]

'def'

In [55]:
#lists

In [56]:
[1,2,3]

[1, 2, 3]

In [57]:
['a','b','c']

['a', 'b', 'c']

In [58]:
my_list = ['a','b','c']

In [60]:
my_list.append('d')

In [63]:
my_list[4]

'd'

In [66]:
my_list[2:4]

['c', 'd']

In [67]:
my_list[0] = 'NEW'

In [69]:
my_list

['NEW', 'b', 'c', 'd', 'd']

In [70]:
nest = [1,2,[3,4]]

In [71]:
nest[2]

[3, 4]

In [72]:
nest[2][1]

4

In [75]:
nest = [1,2,3,[4,5,['target']]]

In [77]:
print(nest[3][2][0])

target

In [79]:
name = 'jaume'
age = 25
'my name is {one} and my age is {two} I have {two}'.format(one=name,two=age)

'my name is jaume and my age is 25 I have 25'